{% if user.is_authenticated and user.is_superuser or user_role == 'user' %}
<div class="container mt-4">
    <h2>Lista de Usuarios</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre de Usuario</th>
                <th>Rol</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.role }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}